doctype html
html
  head
    meta(charset="utf-8")
    title Tienda ficticia - Productos
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Tienda ficticia - Productos

    p
      a(href="/") ← Volver al inicio

    // Form para cambiar la cantidad de productos
    form(action="/productos" method="get")
      label(for="limit") Cantidad:
      input(type="number" id="limit" name="limit" value="10" min="1" max="20")
      button(type="submit") Ver productos

    if error
      p.error= error
    else if products && products.length
      ul
        each p in products
          li
            h2= p.title
            if p.image
              img(src=p.image alt=p.title width="120")
            if p.category
              p
                strong Categoría:
                |  #{p.category}
            if typeof p.price !== 'undefined'
              p
                strong Precio:
                |  $#{p.price}
            if p.description
              p
                strong Descripción:
                |  #{p.description}
    else
      p No se encontraron productos.

    hr

    // JSON desglosable
    details
      summary Ver JSON completo de los productos
      pre
        = JSON.stringify(products, null, 2)
